  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .modalBtn{
    color:#02aab0;
    font-size: 14px;
    background-color:transparent ;
    /* padding: 10px; */
    display: center;
    border-radius: 120px;
    opacity:90% ;
  }

  .modalCard{
    background-color: rgb(0, 0, 0);
    align-items: center;
  }
  .modalBackground{
    min-height: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    font-weight: 400;
    /* color:  rgb(0,0,0); */
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:3;
  
    /* // If you want to set a background image on the hero section, uncomment these with yout custom image */
  
    background: url("https://i.pinimg.com/originals/a2/93/b4/a293b4690ee980b2926270ef85642926.jpg");
    background-position:  bottom -40px right -85px;
    background-size:70%;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
  }

  .accordionHeader{
    color: #02aab0;
    /* font-size: 15px; */
    /* opacity: 100%; */
    /* background-color: transparent; */
    /* border: none; */
  }
  .accordionBody{
    /* color: #02aab0; */
    font-size: 15px;
    /* opacity: 100%; */
    /* background-color: transparent; */
    /* border: none; */
  }

  .projCard{
    color:#333;
    opacity:80%;
  }

  .element {
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    color: black;
    padding: 20px;
  }
  
  .highlight1 {
    color: #3bc83f;
  }

  .highlight2 {
    color: #c30707;
  }

  .fontWhite{
    color: rgb(255, 255, 255);
  }
  .fontOrange{
    color: #d08400
  }

  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #d08400;
    font-size: 12px;
    border: 1px solid #fafaf9;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
  }

  .swal-footer {
    background-color: rgb(46, 46, 58);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
  }


  * {
    box-sizing: border-box;
  }
  
  html {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Demo only styles */
  .btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .btn-container button {
    margin: 4px;
    background: #ff5252;
    color: #fff;
    border: none;
    padding: 6px 16px;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* .container {
    margin: 150px auto;
    max-width: 500px;
  } */
  
  .centerBtn {
    margin: 0 auto;
    width: auto;
    /* background: black; */
    padding: 0px;
    color: white;
  }

  h1 {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    color: #333;
  }
  
  .word {
    display: block;
  }
  
  .word span {
    color: #fab13b;
    position: relative;
  }
  
  .word span::after {
    content: "";
    width: 8px;
    height: 100%;
    background: #ff5252;
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    animation: blink 0.5s ease infinite alternate-reverse;
  }
  
  @keyframes blink {
    from {
      opacity: 100%;
    }
  
    to {
      opacity: 0%;
    }
  }
  
  .word.empty {
    visibility: hidden;
  }
  
  .word.empty span::after {
    visibility: visible;
    right: 0;
  }
  
  